name: build

on:
    push:
        branches:
            - main

jobs:
    build:
        name: build
        runs-on: ubuntu-latest
        steps:
            -
                name: Set up Go
                uses: actions/setup-go@v2
                with:
                        go-version: 1.14

            -
                name: Check out code
                uses: actions/checkout@v2

            -
                name: Build
                run: go build -v .
                working-directory: cmd/sigsubfind3r/